<h2 class="page-header">Dashboard</h2>
<p>Welcome to Smart Contract</p>

{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}


{{#if contract.docTitle}}

    <div class="alert alert-danger verify-errors"></div>
    <div class="panel panel-default signer-tab">
        <div class="panel-heading"><strong>Contract details</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col col-md-6">Document name</div>
                <div class="col col-md-6">{{contract.docTitle}}</div>
            </div>

            <div class="row">
                <div class="col col-md-6">Document description</div>
                <div class="col col-md-6">{{contract.docDesc}}</div>
            </div>

            <div class="row">
                <div class="col col-md-6">Issuer name</div>
                <div class="col col-md-6">{{contract.issuer.firstname}} {{contract.issuer.lastname}}</div>
            </div>
        </div>
    </div>

    <div class="panel panel-default signer-tab">
        <div class="panel-heading"><strong>Signer List</strong></div>
        <div class="panel-body">
            {{#each contract.signerList}}
                <div class="row">
                    <div class="col col-md-6">{{name}}</div>
                    <div class="col col-md-6">{{docStatus}}</div>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="row verify-tab">
        <div class="col">
            <div id="verifyFingerPrint"
                 class="btn btn-success btn-lg {{#if contract.hasAlreadySigned}}disabled{{/if}}"
                 data-id="{{contract.docFingerPrint}}">Sign</div>
        </div>
    </div>
{{else}}
    <form action="/signer/" method="post" enctype="multipart/form-data" id="js-upload-form">
        <div class="panel panel-default upload-form">
            <div class="panel-heading"><strong>Upload Contract File</strong>
                <small>(DOC, PDF)</small>
            </div>

            <div class="panel-body section__upload">

                <div class="alert alert-danger section__upload--error"></div>

                <div class="row upload__method">
                    <div class="col col-md-6"><h4>Select file from your computer</h4></div>
                    <div class="col col-md-6">
                        <input type="file" name="file" id="js-upload-files" accept=".doc,.docx,.pdf">
                        <div class="btn btn-primary" id="selectFile">Select file</div>
                    </div>
                </div>

                <div class="row upload__method">
                    <div class="col col-md-12">
                        <div class="upload-drop-zone" id="drop-zone">
                            Or just drag and drop files here
                        </div>
                    </div>
                </div>

                <div class="row" id="selectedFile">
                    <span class="file-label">Selected file: </span>
                    <span class="file-name"></span>
                </div>

                <div class="row">
                    <div class="col-sm-12 btn-actions">
                        <button type="submit" class="btn btn-primary btn-signataires-list">Submit</button>
                    </div>
                </div>
            </div>
        </div>



    </form>
{{/if}}

<div class="modal fade" id="confirmPinCode" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3>To confirm your identity, please enter PIN code received by SMS</h3>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger pin-errors"></div>
                <form role="form" action="/signer/confirm-pin" id="pinCodeForm">
                    <div class="form-group">
                        <input type="text" class="form-control" name="otp" placeholder="Enter PIN code" required>
                    </div>
                    <button class="btn btn-default" type="submit">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="previewDocument" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>